<h3>User List</h3>

<table class="table table-default">
    <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Email</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="d in vm.data">
            <td>{{ d.id }}</td>
            <td>{{ d.name }}</td>
            <td>{{ d.email }}</td>
            <td>Aksi</td>
        </tr>
    </tbody>
</table>
Page : {{ vm.page }} | 
<button ng-click="vm.prev()" ng-if="vm.page != 1" class="btn btn-secondary">Previous</button>
<button ng-click="vm.next()" ng-if="vm.end == false" class="btn btn-primary">Next</button>