<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://code.angularjs.org/1.8.2/angular.js"></script>
    <!-- Load up the router library - normally you might use npm/yarn and host it locally -->
    <script src="https://unpkg.com/@angular/router@0.2.0/angular1/angular_1_router.js"></script>
    <!-- <script src="app.js"></script> -->
    <script src="https://code.angularjs.org/1.8.2/angular-route.js"></script>
    <base href="/">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Angular 1</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/main.css">
</head>
<body ng-app="App">
    <label>Name</label>
    <input type="text" ng-model="hai" placeholder="Hello World">
    <hr>
    <h1>Hello {{ hai }}</h1>

    <div ng-controller="AppController as vm">
        [ <a href="" ng-click="vm.click()">archive</a> ]    
        [ <a href="" ng-click="vm.goToRoute()">Route Page</a> ]    
    </div>

    <div ng-controller="ListController as vm">
        <ol>
            <li ng-repeat="d in vm.data">
                {{ d }}
                <botak-text name="d">AAAAAAA</botak-text>
            </li>
        </ol>
        <botak-text name="'tolo Halo'"></botak-text>
    </div>
    <hr>
    <h3>This is example Routing in AngularJS</h3>
    <app-route></app-route>

    <style>
        a {
            cursor: pointer;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/promise-polyfill@8/dist/polyfill.min.js"></script>
    <script src="assets/js/app.js"></script>
    <script src="assets/js/config.js"></script>
    <!-- <script src="assets/js/config.js"></script> -->
    <script src="assets/js/components/punch-button-component/punchButton.js"></script>
    <script src="assets/js/components/botak-text/botak-text.component.js"></script>
    <script src="assets/js/components/home-component/home.js"></script>
    <script src="assets/js/components/app-route-component/app-route.js"></script>
</body>
</html>