<h3>Add Task</h3>

<form name="taskAdd" ng-submit="vm.submit()" novalidate="" method="post">
    <div class="form-group">
        <label>Taskname</label> 
        <input type="text" name="name" class="form-control" ng-model="vm.form.name">
    </div>
    <div class="form-group">
        <label>Description</label> 
        <input type="text" name="description" class="form-control" ng-model="vm.form.description">
    </div>
    <button type="reset" class="btn btn-secondary">Reset</button>
    <button type="submit" class="btn btn-primary">Add</button>
</form>

<botak-text name="HAI"></botak-text>