<h3>Edit Task</h3>

<form name="form" ng-submit="vm.submit()" novalidate="" method="post">
    <div class="form-group">
        <label>Taskname</label> 
        <input type="text" name="name" class="form-control" ng-model="vm.form.name">
    </div>
    <button type="button" ng-click="vm.reset()" class="btn btn-secondary">Reset</button>
    <button type="submit" class="btn btn-primary">edit</button>
</form>