<hr>
<h3>This is Form control with validation</h3>
@see more https://docs.angularjs.org/guide/forms#custom-validation <br>
<input type="text" ng-model="$ctrl.name">
<br>
{{ $ctrl.name }}

<form name="formRegister" ng-submit="$ctrl.submit()" novalidate method="post">
    <!-- Example using ng-class on Forms using BS5 -->
    Name : <input type="text" name="name" minlength="5" class="form-control" ng-class="{'is-invalid': formRegister.name.$invalid && formRegister.name.$touched}" required ng-model="$ctrl.formGroup.name"> <br>
    <div>
        <span ng-if="formRegister.name.$invalid && formRegister.name.$touched && formRegister.name.$error.required" class="validation">
            Name is empty
        </span>
        <span ng-if="formRegister.name.$invalid && formRegister.name.$touched && formRegister.name.$error.minlength" class="validation">
            Length is smaller than 5
        </span>
    </div>
    Email : <input type="email" minlength="5" name="email" class="form-control" required ng-model="$ctrl.formGroup.email" ng-class="{'is-invalid': formRegister.name.$invalid && formRegister.name.$touched}"> <br>
    <div ng-if="formRegister.email.$invalid && formRegister.email.$touched">
        <span ng-if="formRegister.email.$error.required" class="validation">
            Email is empty
        </span>
        <span ng-if="formRegister.email.$error.minlength" class="validation">
            Email is smaller than 5
        </span>
        <span ng-if="formRegister.email.$error.email" class="validation">
            That is not email! Haiyah...
        </span>
    </div>
    <h5>Example Dynamic Forms</h5>
    <button type="button" ng-click="$ctrl.addItem()">Add Items</button>
    <hr>
    <!-- @see For index/Key and items https://docs.angularjs.org/api/ng/directive/ngRepeat#iterating-over-object-properties -->
    <div class="form-group" ng-repeat="(k,i) in $ctrl.formGroup.items">
        <div>
            <label>Nama {{ k+1 }}</label>
            <input type="text" class="form-control" name="item-name-{{k}}" ng-model="i.name">
        </div>
        <div>
            <label>Qty {{ k+1 }}</label>
            <input type="text" class="form-control" name="item-qty-{{k}}" ng-model="i.qty">
        </div>
        <div>
            <label>Product</label>
            <input type="checkbox" name="item-product-{{k}}" ng-model="i.product">
            <label>Services</label>
            <input type="checkbox" name="item-product-{{k}}" ng-model="i.service">
        </div>
        <button type="button" ng-click="$ctrl.removeItem(k)">Remove Row {{ k+1 }}</button>
    </div>
    <hr>
    <button type="reset">Reset</button>
    <button type="submit">Submit</button>
</form>

<h3>Data Presentation of the Form</h3>
<div>
    <div>Name : {{ $ctrl.formGroup.name }}</div>
    <div>Email : {{ $ctrl.formGroup.email }}</div>
    <div>
        Items : <br>
        <div ng-repeat="(k,i) in $ctrl.formGroup.items">
            Nama {{ k+1 }} : {{ i.name }} <br>
            Qty {{ k+1 }} : {{ i.qty }} <br>
            Product {{ k+1 }} : {{ (i.product) ? 'V' : 'X' }} <br>
            Service {{ k+1 }} : {{ (i.service) ? 'V' : 'X' }} <br>
            <hr>
        </div>
    </div>
</div>