<h3>List Task</h3>
<ol>
    <li ng-repeat="(k,l) in vm.list">{{ l.title }} 
        <button class="btn btn-sm btn-primary" ng-if="vm.authSrv.isLogedIn()" ng-click="vm.edit(l.id)" type="button">Edit</button>
    </li>
</ol>
<span>Page : {{ vm.page }}</span> <br>
<button ng-click="vm.click()" class="btn btn-danger">Alert</button>
<button ng-click="vm.prev()" ng-if="vm.page != 1" class="btn btn-secondary">Previous</button>
<button ng-click="vm.next()" ng-if="vm.end == false" class="btn btn-primary">Next</button>