<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://code.angularjs.org/1.8.2/angular.js"></script>
    <!-- Load up the router library - normally you might use npm/yarn and host it locally -->
    <script src="https://unpkg.com/@angular/router@0.2.0/angular1/angular_1_router.js"></script>
    <!-- <script src="app.js"></script> -->
    <script src="https://code.angularjs.org/1.8.2/angular-route.js"></script>
    <script src="https://code.angularjs.org/1.8.2/angular-cookies.js"></script>
    <!-- <base href="/route/"> -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Angular 1 Route</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/main.css">
    <script type="text/javascript">
        angular.element(document.getElementsByTagName('head')).append(angular.element('<base href="' + window.location.pathname + '" />'));
    </script>
</head>
<body ng-app="RouteApp">
    <script>var exports = {};</script>
    <br>
    <pre>Login First to able to edit!
        You can check if roles working or not based on route role parameter and user roles
    </pre>
    <a href="/">Back Home</a>
    <div ng-controller="RouteController as vm">
        [ <a href="" ng-click="vm.click()">Click Alert</a> ]    
        <a href="/route/">Task List</a>
        <span ng-if="vm.isLoggedIn() == true">
            <a href="task/add">Task Add</a>
            <!-- <span ng-if="vm.authSrv.hasRole('admin')"> -->
                <a href="user/">User List</a>
                <a href="user/add">User Add</a>
            <!-- </span> -->
            ({{ vm.user() }})
            [ <a href="" ng-click="vm.logout()">Logout</a> ]    
        </span>
        <span ng-if="vm.isLoggedIn() == false">
            [ <a href="" ng-click="vm.login()">Login</a> ]    
        </span>
        <div ng-view></div>
    </div>

    <style>
        a {
            cursor: pointer;
        }
    </style>
    <script src="/assets/js/config.js"></script>
    <script src="/assets/js/components/botak-text/botak-text.component.js"></script>
    <script src="/assets/js/services/auth.service.js"></script>
    <script src="/assets/js/app-route.js"></script>
    <!-- Because monkey patching modules... welp let it be  -->
    <script src="/assets/js/interceptors/auth.interceptor.js"></script>
    <script src="/assets/js/services/lazy.service.js"></script>
</body>
</html>