<form name="form" novalidate ng-submit="vm.doLogin()" method="post">
    <div class="form-group">
        <label>Username</label>
        <input type="text" name="user" class="form-control" ng-model="vm.form.user" required>
    </div>
    <div class="form-group">
        <label>Password</label>
        <input type="password" name="pass" class="form-control" ng-model="vm.form.pass" required>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</form>