<nav>
    <a ng-link="['Home']">Home</a>
    <a ng-link="['Hai']">Hai</a>
    <a ng-link="['Halo']">Halo</a>
</nav>
<ng-outlet></ng-outlet>
<br><br>
<!-- If we are using the variable directly! -->
<botak-text name="'Hai Dunia'"></botak-text>